<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>GRB 800kHz</string>
		<key>value</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>GRBW 800kHz</string>
		<key>value</key>
		<integer>210</integer>
	</dict>
</array>
</plist>
