<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppInSystemStatusBar</key>
	<true/>
	<key>UpdateServerUrl</key>
	<string>https://raw.githubusercontent.com/adafruit/Adafruit_BluefruitLE_Firmware/master/releases.xml</string>
	<key>UpdateShowBetaVersions</key>
	<false/>
	<key>InfoRefreshOnLoad</key>
	<true/>
	<key>UartReceivedDataColor</key>
	<string>#ff0000</string>
	<key>UartSentDataColor</key>
	<string>#0000bb</string>
	<key>UartIsDisplayModeTimestamp</key>
	<false/>
	<key>UartIsInHexMode</key>
	<false/>
	<key>UartIsEchoEnabled</key>
	<true/>
	<key>UartIsAutomaticEolEnabled</key>
	<true/>
	<key>NeopixelIsSketchTooltipEnabledKey</key>
	<true/>
</dict>
</plist>
